
{% extends '@fichaje_module/base.html.twig' %}

{% block body %}

  <hr><br>
  <h2>Todos los fichajes están correctos</h2>

  <p>
  <form action='/fichador'>
    <input type='submit' value='Volver' />
  </form>
  </p>

{% endblock %}
