.equalDivide tr td {
  width:25%;
  text-align: center;
}

.column10 {
  display: inline-block;
  width: 10%;
  padding: 10px;
}

.column20 {
  display: inline-block;
  width: 20%;
  padding: 10px;
}

.center {
  text-align: center;
}

.right {
  float: right;
}

.left {
  float: left;
}

.colorNodrizaTech {
  font-weight: bold;
  color: #905fe7;
}

.colorOniad {
  font-weight: bold;
  color: #1a4279;
}

.colorDoctorProperty {
  font-weight: bold;
  color: #31cee2;
}

.colorOk {
  font-weight: bold;
  color: #0d9a55;
}

.colorWorking {
  font-weight: bold;
  color: #e06830;
}

.colorNotOk {
  font-weight: bold;
  color: #bf1d5e;
}

.hrOk {
  border: 1px solid #16841b;
}

.hrWarning {
  border: 1px solid #ef763e;
}

.hrBase {
  border: 1px solid #bbb4b2;
}

.colorTime {
  color: #bf1d5e;
}

.form-inline {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-inline input {
  margin: 5px 2px 5px 0;
  padding: 7px;
}

.form-inline button {
  padding: 6px;
  cursor: pointer;
}

.form-inline select {
  padding: 6px;
}

.radioButtonImage {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radioButtonImage + img {
  cursor: pointer;
}

.radioButtonImage:checked + img {
  outline: 2px solid #282525;
}
